@import url('https: //fonts.googleapis.com/css2?family=Poppins: wght@100;300;400;500;600&display=swap');*/

:root{
	--orange: #ff7800;
	--black: #130f40;
	--light-color: #666;
	--box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	--border: 2rem rgba(0,0,0,.1 );
	--outline: 1rem solid rgba(0,0,0,.1 );
	--outline-hover: 2px solid var(--black );
}

*{
	font-family: 'poppins',sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}
body{
	background: #eee;
}
section{
	padding: 2rem 9%;
}
.heading{
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	color: #130f40;
}
span{
	color: #ff7800;
	background-color: #fff;
	display: inline-block;
	padding: 7px 17px;
	clip-path: polygon(100% 0, 93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid #130f40;
    color: #130f40;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: #ff7800;
    color:#fff;
}


.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	background: #fff;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );;
}
.header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: #130f40;
}
.header .logo i{
	color: #ff7800;
}
.header .navbar a{
	font-size: 1.7rem;
	margin: 8px;
	color: #130f40;
}
.header .navbar a:hover{
	color: #ff7800;
}

.header .icons div{
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: .5rem;
	background: #eee;
	color: #130f40;
	font-size: 2rem;
	margin-right: .3rem;
	text-align: center;
	cursor: pointer;
}

.header .icons div:hover{
	background: #ff7800;
	color: #fff;
}
#menu-btn{
	display: none;
}
.header .search-form{
	position: absolute;
	top: 110%;
	right: -120%;
	width: 50rem;
	height: 4rem;
	/*z-index: 1000;*/
	background: #fff;
	border-radius: 5rem;
	overflow: hidden;
	display: flex;
	box-shadow: ;
	align-items: center;
}
.header .search-form.active{
	right: 2rem;
	transition: .4s linear;
}
.header .search-form input{
	height: 100%;
	width: 100%;
	background: none;
	text-transform: none;
	font-size: 1.6rem;
	color: #130f40;
	padding: 0.1rem;
}
.header .search-form label{
	font-size: 2.2rem;
	padding-right: 1.5rem;
	color: #130f40;
	cursor: pointer;
}
.header .search-form label:hover{
	color: #ff7800;
}

.header .shopping-cart{
	position: absolute;
	top: 110%;
	right:-120rem;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );;
	width: 35rem;
	background: #fff;
}

.header .shopping-cart .box{
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	margin: 1rem 0;
}
.header .shopping-cart.active{
	right: 2rem;
	transition: .4s linear;
}
.header .shopping-cart .box img{
	height: 10rem;
}
.header .shopping-cart .box .fa-trash{
	font-size: 2rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	cursor: pointer;
	color: #666;
	transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
	color: #ff7800;
}
.header h3{
	color: #130f40;
	font-size: 15px;
	padding-bottom: 1rem;
}
.header .shopping-cart .total{
	font-size: 2.5rem;
	padding: 1rem 0;
	text-align: center;
	color: #130f40;
}
.header span{
	color: #130f40;
	font-size: 13px;
	padding-bottom: 1rem;
}
.header .quantity{
	padding-left: 1rem;
}
.btn{
	margin-top: 1px;
	display: inline-block;
	padding: 8px 3px;
	font-size: 17px;
	border-radius: 5px;
	border: 2px s#130f40;
	color: #130f40;
	cursor: pointer;
	background: none;
}


.btn:hover{
	background: #ff7800;
	color: #fff;
}
.header .shopping-cart .btn{
    display: block;   
    text-align: center;
}
.header .login-form{
	position: absolute;
	top: 110%;
	right:-110rem;
	width: 30rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	padding: 2rem;
	border-radius: 2rem;
	background: #fff;
	text-align: center;
}
.header .login-form.active{
	right: 2rem;
	transition: 0.4s linear;
}
.header .login-form h3{
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #130f40;
}
.header .login-form .box{
	margin: 5px 0;
	background: #eee;
	border-radius: 0.5rem;
	padding:1rem;
	font-size: 1.6rem;
	color: #130f40;
	text-transform: none;
	width: 100%;
}
.header .login-form p{
	font-size: 1.4rem;
	padding: 6px 0;
	color: #666;
}
.header .login-form p a{
	color: #ff7800;
	text-decoration: underline;
}

.home{
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(grocery/banner-bg.webp);
	background-position: center;
	background-size: cover;
	padding-top: 17rem;
	padding-bottom: 10rem;
}
.home .content{
	text-align: center;
	width: 60rem;

}
.home .content h3{
	color: #130f40;
	font-size: 3rem;
}
.home .content h3 span{
	color: #ff7800;
	/*font-size: 3rem;*/
}
.home .content p{
	color: #666;
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 1.8;
}
.features .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
	gap: 1.5rem;
}
.categories .box-container{
	column-gap: 12px;
}
.features .box-container .box{
	padding: 3rem 2rem;
	background: #fff;
	outline:  1rem solid rgba(0,0,0,.1 );
	outline-offset: -1rem;
	text-align: center;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
}
.features .box-container .box:hover{
	outline: var(--outline-hover);
	outline-offset: -1rem;
}
.features .box-container .box img{
	margin: 1rem 0;
	height: 15rem;
}
.features .box-container .box h3{
	font-size: 2.5rem;
	line-height: 1.8;
	color: #130f40;
}
.features .box-container .box p{
	font-size: 1.5rem;
	line-height: 1.8;
	color: #666;
	padding: 1rem 0;
}

.products .product-slider{
	/*padding: 1rem;*/
	/*display: flex;*/
	/*display: grid;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
	gap: 1.5rem;
	/*flex-wrap: wrap;*/
	padding-top: 20px;
	justify-content: space-between;
}


.products .product-slider .box{
	background: #fff;
	border-radius: .5rem;
	/*display: flex;*/
	text-align: center;
	padding: 3rem 2rem;
	outline-offset: -1rem;
	outline:  1rem solid rgba(0,0,0,.1 );
	margin-top: 30px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	/*transition: 2s linear;*/
}

.products .product-slider .box:hover{
	outline-offset: 0rem;
	outline:  2px solid var(--black );
}

.products .product-slider .box img{
	height: 20rem;
	/*display: flex;*/
}
.products .product-slider .box h3{
	font-size: 2.5rem;
	color: #130f40 ;
}
.products .product-slider .box .price{
	font-size: 2rem;
	color: #666;
	padding: 6px 0;
}

.products .product-slider .box .stars i{
	font-size: 1.7rem;
	color: #ff7800;
	padding-top: 6px;
	padding-bottom: 7px;

}
.box-container{
	display: flex;
}
.box-container .box{
	padding: 9px;
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	outline:  1rem solid rgba(0,0,0,.1 );
	outline-offset: -1rem;
	text-align: center;
}
.box-container .box:hover{
	outline:  2px solid var(--black );
	outline-offset: 0rem;

}

.box-container .box h3{
	font-size: 25px;
	color: #130f40;
	line-height: 1.8;
}
.box-container .box p{
	font-size: 1.7rem;
	color: #666;
	line-height: 1.8;
	padding: 1rem 0;
}
.review .review-slider{
	padding: 1rem;
	/*column-gap: 22px;*/

}
.review .wrapper{
	display: flex;
	gap: 22px;
}
.review .review-slider .box{
	padding: 9px;
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	outline:  1rem solid rgba(0,0,0,.1 );
	outline-offset: -1rem;
	text-align: center;
}
.review .review-slider .box:hover{
	outline:  2px solid var(--black );
	outline-offset: 0rem;


}
.review .box p{
	font-size: 13px;
	color: #666;
	line-height: 1.8;
	padding: 1rem 0;
}
.review .box h3{
	font-size: 17px;
	color: #666;
	line-height: 1.8;
	padding: 1rem 0;
}
.review .stars i{
	font-size: 12px;
	color: #ff7800;
}
.blogs .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(26rem, 1fr));
	gap: 1.5rem;

}
.blogs .box-container .box{
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1 );
	background: #fff;
}
.blogs .box-container .box img{
	height: 25rem;
	width: 100%px;
	object-fit: cover;
}
.blogs .box-container .box .content{
	padding: 2rem;
}
.blogs .box-container .box .content .icons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem;
	border-bottom: 2rem rgba(0,0,0,.1 );
}
.blogs .box-container .box .content .icons a{
	color: #666;
	font-size: 1.5rem;
}
.blogs .box-container .box .content .icons a i{
	color: #ff7800;
	padding-right: 0.5rem;
}
.footer{
	background: #fff;
}
.footer .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(26rem, 1fr));
	gap: 1.5rem;
}
.footer .box-container .box h3{
	font-size: 2.5rem;
	color: #130f40;
	padding: 1rem 0;
}
.footer .box-container .box h3 i{
	color: #ff7800;

}
.footer .box-container .box a{
	font-size: 1.5rem;
	color: #666;
	display: block;

	padding: 1rem 0;
}
.footer .box-container .box .links i{
	color: #ff7800;
	/*display: block;*/
    padding-right: 0.5rem;
}
.footer .box-container .box .links:hover i{
	/*color: var(--orange);*/
	/*display: block;*/
    padding-right: 2rem;
}
.footer .box-container .box p{
	font-size: 1.5rem;
	line-height: 1.8;
	color: #666;
	display: block;

	padding: 1rem 0;
}
.footer .box-container .box .share {
	display: flex;
	padding:49px;
}
.footer .box-container .box .share a{
	/*height: 4rem;*/
	width: 4rem;
	line-height: 2rem;
	border-radius: 0.5rem;
	font-size: 2rem;
	color: #130f40;
	margin-left: 0.2rem;
	/*padding: 8px;*/
	background: #eee;
	text-align: center;
	/*display: flex;*/
	/*align-items: center;*/
}
.footer .box-container .box .share a:hover{
	background: #ff7800;
	color: #fff;
}
.footer .box-container .box .email{
	margin: 7px;
	/*padding: 1rem;*/
	border-radius: 0.5rem;
	background: #eee;
	font-size: 1.6rem;
	color: #130f40;
	text-transform: none;
}
.footer .box-container .box .btn{
	margin-top: 10px;
}
.footer .box-container .box .payment-img{
	margin-top: 30px;

}
/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
    	
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}